.embla {
  width: 100%;
  --slide-height: 368px;
  --slide-spacing: 0rem;
  --slide-size: 70%;
}

.embla__container {
  backface-visibility: hidden;
  display: flex;
  touch-action: pan-x pinch-zoom;
  margin-top: calc(var(--slide-spacing) * -1);
  height: calc(var(--slide-spacing) + var(--slide-height));

  flex-direction: column;
  position: relative;
  align-items: center; /* Ensure slides are centered */
}

.embla__slide {
  flex: 0 0 var(--slide-size);
  min-height: 0;
  padding-top: var(--slide-spacing);
  transition:
    transform 0.5s,
    z-index 0.5s;
}

.embla__slide--focused {
  z-index: 10;
  position: absolute;
  top: 50%;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}
