.dots {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}

.dot {
  background-color: #d9d9d9;
  border: none;
  width: 15px;
  height: 15px;
  margin: 0 5px;
  border-radius: 50%;
  cursor: pointer;
  transition: background-color 0.3s;
}

.dot--active {
  background-color: #e25813;
}
