@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "bessemer-bold";
  src: url("../assets/fonts/Inconsolata/Inconsolata-VariableFont_wdth,wght.ttf")
    format("truetype");
}

* {
  font-family: "bessemer-bold", sans-serif; /* Fallback to sans-serif if the custom font fails to load */
}

html,
body {
  margin: 0;
  padding: 0;
  width: 100vw;
  overflow-x: hidden; /* Evita vazamento horizontal */
}

.no-scrollbar {
  /* Para navegadores modernos */
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* Internet Explorer 10+ */
}

/* Para navegadores WebKit (Chrome, Safari, Edge) */
.no-scrollbar::-webkit-scrollbar {
  display: none; /* Esconde a scrollbar */
}

.dots {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}

.dot {
  background-color: #d9d9d9;
  border: none;
  width: 15px;
  height: 15px;
  margin: 0 5px;
  border-radius: 50%;
  cursor: pointer;
  transition: background-color 0.3s;
}

.dot--active {
  background-color: #e25813;
}

@layer base {
  :root {
    /*Colors*/
    --primary: 237, 5, 144;
    --secondary: 66, 9, 225;
    --bg-light: 217, 217, 217;
    /* Screens */
    --screen-mobile: 390px;
    --screen-desktop: 1440px;

    /* Font Sizes */
    --font-size-5xs: 13px;
    --font-size-4xs: 20px;
    --font-size-3xs: 25px;
    --font-size-2xs: 30px;
    --font-size-xs: 40px;
    --font-size-sm: 45px;
    --font-size-md: 50px;
    --font-size-xl: 85px;
    --font-size-2xl: 100px;
  }

  @keyframes float {
    0% {
      transform: translatey(0px);
    }
    50% {
      transform: translatey(-10px);
    }
    100% {
      transform: translatey(0px);
    }
  }

  .float {
    animation: float 3s ease-in-out infinite;
  }
}
